@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all duration-300;
}

#root {
  @apply font-[Epilogue] font-medium text-AlmostBlack leading-normal min-h-screen bg-AlmostWhite flex flex-col items-center gap-6 py-5
          lg:gap-[68px];
}

a {
  @apply hover:text-AlmostBlack;
}

nav,
main {
  @apply max-w-[1408px] w-full;
}

.nav-mobile {
  @apply flex justify-between px-4 w-full
          md:hidden;
}

.nav-desktop {
  @apply hidden
          md:flex md:items-center md:justify-between md:w-full md:px-6;
}

.menu {
  @apply flex flex-col gap-7 h-max py-4 text-[14px]
          md:flex-row 
          lg:gap-[38px] lg:items-center;
}

.menu li a {
  @apply flex items-center gap-2;
}

.menu li a img {
  @apply h-max;
}

.auth {
  @apply flex flex-col gap-4 py-6 items-center text-[14px]
          md:flex-row md:gap-10 md:py-0;
}

.auth .register {
  @apply border border-MediumGray rounded-2xl grid place-content-center h-[42px] w-[196px]
        hover:border-AlmostBlack
          md:w-[104px];
}

main {
  @apply flex flex-col items-center justify-center
          lg:flex-row;
}

main picture,
main section {
  @apply lg:max-w-[704px] lg:w-full;
}

main picture {
  @apply grid place-content-center
          lg:order-1;
}

main picture img {
  @apply w-full max-w-max
          lg:max-w-[480px];
}

main section {
  @apply flex items-center justify-center
          lg:pr-[34px] lg:pl-6 lg:items-end lg:justify-end lg:self-stretch;
}
main section div {
  @apply flex flex-col items-center max-w-[520px] w-full px-4 py-7
          lg:p-0 lg:items-start;
}

main section div h1 {
  @apply text-AlmostBlack text-[36px] text-center font-bold leading-none tracking-[-0.01em] mb-4
            md:text-[52px] md:mb-9
            lg:text-[80px] lg:mb-12 lg:text-left;
}

main section div p {
  @apply text-MediumGray text-center text-[16px] leading-[28px] tracking-[0.005em] mb-6
            md:text-[18px] md:mb-11
            lg:text-left lg:max-w-[432px] lg:mb-[52px];
}

main section div button {
  @apply grid place-content-center bg-AlmostBlack text-AlmostWhite text-[16px] font-bold tracking-[-0.01em] h-12 w-[136px] rounded-2xl mb-12  
        hover:bg-AlmostBlack/80
          md:h-14 md:w-[164px] md:text-[18px] md:mb-16
          lg:mb-[100px];
}

main section div span {
  @apply flex items-center gap-7 w-max
          md:gap-8;
}

main section div span img:first-child,
main section div span img:nth-child(3) {
  @apply h-[14px]
          md:h-max;
}

main section div span img:nth-child(2) {
  @apply w-[54px]
          md:w-max;
}

main section div span img:last-child {
  @apply h-[16px]
          md:h-max;
}
